<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <style>
        body {
          margin: 0;
          font-family: Arial, sans-serif;
          background: white;
          width: 100%;
          height: 100%;
        }
        .content {
          min-width: 345px;
          word-break: break-word;
          transform: translateX(-50%);
          margin-left: 50%;
        }
    </style>
</head>
<body>
    <div class="content">
        {{ content }}
    </div>
</body>
</html>
